@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Cascadia Mono;
	src: url("../assets/CascadiaMono.ttf");
}

@font-face {
	font-family: Kredit Back;
	src: url("../assets/Kredit Back.woff2");
}

@font-face {
	font-family: NCL Rabegs;
	src: url("../assets/NCLRabegs-Demo.woff");
}

@layer base {
	:root {
		--bevel-tl: 0 0, 0 0;
		--bevel-bl: 0 100%, 0 100%;
		--bevel-br: 100% 100%, 100% 100%;
		--bevel-tr: 100% 0, 100% 0;
	}

	:root,
	:root[data-theme="light"] {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--pink: rgb(255, 64, 129);
		--amber: rgb(255, 193, 7);
		--blue: rgb(63, 81, 181);
		--sky: rgb(0, 188, 212);
		--white: rgb(250, 250, 250);
		--offwhite: rgb(219, 211, 211);
		--black: rgb(20, 20, 20);
		--amber-dark: rgb(236, 131, 5);
		--blue-2: rgb(2, 76, 170);
		--blue-dark: rgb(9, 16, 87);
		--red: rgb(203, 42, 66);

		--theme-bg: 250, 250, 250;
		--theme-text-bg: 250, 250, 250;
		--theme-text: 20, 20, 20;
		--theme-accent: 255, 193, 7;
		--theme-accent-2: 203, 42, 66;
		--theme-accent-3: 2, 76, 170;
		--theme-link: 9, 16, 87;
		--theme-quote: 2, 76, 170;

		--font-display: "Kredit Back", "sans-serif";
	}

	:root[data-theme="dark"] {
		color-scheme: dark;
		--theme-bg: 29, 31, 32;
		--theme-text-bg: 250, 250, 250;
		--theme-link: 212, 130, 171;
		--theme-text: 200, 201, 203;
		--theme-accent: 0, 188, 212;
		--theme-accent-2: 237, 237, 237;
		--theme-quote: 203, 42, 66;
	}
}

@layer components {
	.aside-wrapper {
		position: relative;
		/* @apply border-b-8 border-l-4 border-r-8 border-t-4 border-solid; */
		@apply ml-0 pb-2 pl-1 pr-2 pt-1;
		@apply rounded-b-3xl rounded-r-3xl rounded-tl-2xl;
		&::before {
			content: "";
			position: absolute;
			@apply sm:-inset-5 sm:size-16;
			@apply aspect-square rounded-full bg-accent;
		}
	}
	.aside-body {
		/* @apply border-b-8 border-l-2 border-r-8 border-t-2 border-solid; */
		/* @apply border-4 border-solid; */
		@apply rounded-bl-sm rounded-br-2xl rounded-tl-xl rounded-tr-sm;
		@apply -inset-x-1.5 -inset-y-1.5;
	}

	.angled-corner {
		background-color: var(--bg-accent);
		background: linear-gradient(315deg, transparent 20px, var(--theme-accent) 0) bottom right;
	}

	.cutout {
		clip-path: polygon(
			-2em -2em,
			-2em calc(100% - 2em),
			calc(100% + 2em) calc(100% + 2em),
			calc(100% - 2em) 2em
		);
	}
}
