---
import profileimg from "@/assets/images/profile.jpg";
import SocialList from "@/components/SocialList.astro";
import { Figure } from "@/components/blog/components";
import PageLayout from "@/layouts/Base.astro";
import Emoji from "astro-emoji";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="flex flex-col items-center justify-center">
		<div id="about-container">
			<h1 class="title mb-6">About me</h1>
			<div
				class="grid-rows-auto prose prose-sm prose-cactus mt-8 grid max-w-[100ch] grid-cols-2 rounded-lg bg-text-bg px-8 py-4 dark:text-bgColor"
				style="grid-template-columns: 60%  40%;">
				<div class="col-span-1 col-start-1 text-balance">
					<p>
						My name is Eli, aka Tempystral. I'm a software developer and cognitive science graduate
						from
						<Emoji symbol="🇨🇦" />
						Canada.
					</p>

					<p>
						My interests range from game design to urban planning, but I have many interests and
						fleeting attention. My hope is that this blog can be a place for me to explore topics
						that catch my attention and offer a place to write long-form pieces unsuited to social
						media.
					</p>

					<div class="flex flex-wrap items-center gap-x-2">
						You can find me elsewhere on the internet here: <span
							class="not-prose rounded-lg border-text-bg bg-accent/50 p-2">
							<SocialList />
						</span>
					</div>
				</div>
				<div class="relative left-20 top-20 col-span-1 col-start-2 -mt-20">
					<span
						class="subtitle absolute -left-8 top-6"
						style="text-orientation: mixed; writing-mode: vertical-rl;">
						The only good picture of me
					</span>
					<Figure src={profileimg} />
				</div>
			</div>
		</div>
	</div>
</PageLayout>
