---
import type { CollectionEntry } from "astro:content";
import Divider from "@/components/Divider.astro";
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
//import { siteConfig } from "@/site.config";
import { collectionDateSort } from "@/utils/date";

// Posts
const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = allPosts
	.sort(collectionDateSort)
	.slice(0, MAX_POSTS) as CollectionEntry<"post">[];

// Notes
/* const MAX_NOTES = 5;
const allNotes = await getCollection("note");
const latestNotes = allNotes.sort(collectionDateSort).slice(0, MAX_NOTES); */
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Welcome</h1>

		<div
			class="prose prose-sm prose-cactus mt-8 rounded-lg bg-text-bg px-8 py-4 prose-headings:font-semibold prose-headings:text-accent-2 prose-headings:before:absolute prose-headings:before:-ms-4 prose-headings:before:text-accent dark:text-bgColor sm:prose-th:before:content-none">
			Welcome to my blog! This is a work in progress website where I'll post about my monthly
			projects, personal goings-on, and whatever I personally find interesting at a given moment.
		</div>

		<!-- <Banner title="Splashy banner element" accent="red">
			Hi, I’m a theme for Astro, a simple starter that you can use to create your website or blog.
			If you want to know more about how you can customise me, add more posts, and make it your own,
			click on the GitHub icon link below and it will take you to my repo.
		</Banner> -->

		<br />
		<div class="flex flex-wrap items-center gap-x-2">
			Find me at: <SocialList />
		</div>
	</section>
	<Divider icon="mdi:arrow-down-left-thick" />
	<section aria-label="Blog post list" class="mt-8">
		<h2 class="title mb-6 text-3xl text-accent-2">
			<a href="/posts/">Latest Posts</a>
		</h2>

		<ul class="space-y-4" role="list">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr]">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<!-- {
		latestNotes.length > 0 && (
			<section class="mt-16">
				<h2 class="title mb-6 text-xl text-accent">
					<a href="/notes/">Notes</a>
				</h2>
				<ul class="space-y-4" role="list">
					{latestNotes.map((note) => (
						<li>
							<Note note={note} as="h3" isPreview />
						</li>
					))}
				</ul>
			</section>
		)
	} -->
</PageLayout>
