---
import type { SocialLink } from "@/types";
import { Icon } from "astro-icon/components";

/**
	Uses https://www.astroicon.dev/getting-started/
	Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
	Only installed pack is: @iconify-json/mdi
*/
const socialLinks: SocialLink[] = [
	{
		name: "Github",
		link: "https://github.com/tempystral",
		icon: "mdi:github",
		style: "hover:text-black hover:bg-white bg-clip-border rounded-full",
	},
	{
		name: "Twitter",
		link: "https://www.twitter.com/tempystral",
		icon: "mdi:twitter",
		style: "hover:text-sky-500",
	},
	{
		name: "Bluesky",
		link: "https://bsky.app/profile/tempystral.live",
		icon: "ri:bluesky-fill",
		style: "hover:text-blue-500",
	},
];
---

<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
	{
		socialLinks.map(({ name, isWebmention, link, icon, style }) => (
			<li class="flex">
				<a
					class={`inline-block ${style ?? "hover:text-link"} border-0`}
					href={link}
					rel={`noreferrer ${isWebmention ? "me authn" : ""}`}
					target="_blank">
					<Icon aria-hidden="true" class="social-icon h-8 w-8" focusable="false" name={icon} />
					<span class="sr-only">{name}</span>
				</a>
			</li>
		))
	}
</ul>
